*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#050816;
  color:white;
  overflow-x:hidden;
}

.bg-animation{
  position:fixed;
  width:100%;
  height:100%;
  background:
  radial-gradient(circle at center, rgba(0,123,255,0.2), transparent 60%);
  z-index:-1;
  animation: pulse 4s infinite;
}

@keyframes pulse{
  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.1);
  }

  100%{
    transform:scale(1);
  }
}

header{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:20px 10%;
}

header h2{
  color:#4da6ff;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  transition:0.3s;
}

nav a:hover{
  color:#4da6ff;
}

.hero{

  min-height:100vh;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding-left: 8%;
  color:white;
  flex-wrap: wrap;
  position: relative;
  z-index:2;
  text-align: left;
}

.hero-text h1{
  font-size:70px;
}

.hero-text span{
  color:#4da6ff;
}

.typing{
  margin-top:10px;
  color:#8ab4ff;
  animation: glow 2s infinite alternate;
}

@keyframes glow{
  from{
    opacity:0.5;
  }

  to{
    opacity:1;
  }
}

.hero-text p{
  margin-top:20px;
  max-width:600px;
  line-height:1.6;
}

button{
  margin-top:25px;
  padding:12px 30px;
  border:none;
  border-radius:30px;
  background:#4da6ff;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.1);
  box-shadow:0 0 20px #4da6ff;
}

.circle{
  width:300px;
  height:300px;
  border-radius:50%;
  background:linear-gradient(#4da6ff,#001f4d);
  box-shadow:0 0 50px #4da6ff;
  animation: float 4s infinite ease-in-out;
  display:none;
}

@keyframes float{
  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-20px);
  }

  100%{
    transform:translateY(0);
  }
}

section{
  padding:80px 10%;
}


#skills{
    padding: 100px 10%;
    text-align: center;
}

#skills h2{
    font-size: 70px;
    color: white;
    margin-bottom: 60px;
    text-shadow: 0 0 20px #00f7ff;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.hexagon{
    width: 110px;
    height: 120px;
    background: rgba(255,255,255,0.05);
    clip-path: polygon(
        25% 6%,
        75% 6%,
        100% 50%,
        75% 94%,
        25% 94%,
        0 50%
    );

    border: 2px solid #00f7ff;
    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);

    transition: 0.4s;
}

.hexagon i{
    font-size: 45px;
    color: #00f7ff;
    text-shadow: 0 0 15px #00f7ff;
}

.hexagon:hover{
    transform: translateY(-10px) scale(1.1);
    border-color: #ff00ea;
    box-shadow: 0 0 25px #ff00ea;
}

.hexagon:hover i{
    color: #ff00ea;
    text-shadow: 0 0 20px #ff00ea;
}



.projects{
    padding: 100px 10%;
    color: white;

}

.project h2{
    font-size: 55px;
    margin-bottom: 40px;
}

.project-card{
  background: rgba(0, 255, 255, 0.08);
  border: 1px solid cyan;

  padding: 25px;
  border-radius: 20px;
  margin-bottom: 20px;

  transition: 0.4s ease;
  backdrop-filter: blur(10px);

  box-shadow: 0 0 15px cyan;
}

.project-card:hover{
  transform:translate(-10px) scale(1.03);
  background: rgba(0, 255, 255, 0.15);
  box-shadow:0 0 30px cyan;
}

.project-card h3{
    font-size: 22px;
    margin-bottom: 10px;
}

.project-card p{
    font-size: 15px;
    color: #d8eaff;
}


.contact{
    text-align: center;
    padding: 80px 20px;
}

.contact from{
    width: 80px;
  display:flex;
  flex-direction:column;
  margin:auto;
}

.contact input{
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
    background: #222;
    color: white;
    font-size: 18px;
}

.contact textarea{
    width: 100%;
    height: 180px;
    padding: 18px;
    margin-bottom: 25px;
    border: none;
    border-radius: 12px;
    background: #222;
    color: white;
    font-size: 18px;
    resize: none;

}



.contact button{
    width:260px;
    padding: 15px;
    margin:auto;
    border: none;
    border-radius:40px;
    background:#6be8ff;
    color:white;
    font-size: 20px;
    cursor:pointer;
    box-shadow: 0 0 25px #6be8ff
}

/* OVERVIEW SECTION */

.overview{
    padding: 100px 10%;
    background:transparent;
    color: white;
}

.intro{
    color: #aaa6c3;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 10px;
}

.overview-title{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.overview-text{
    max-width: 700px;
    color: #c7c7c7;
    line-height: 1.8;
    margin-bottom: 50px;
    font-size: 18px;
}

.cards{
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
}

.card{
    width: 220px;
    height: 220px;
    border-radius: 25px;
    border: 2px solid #7c3aed;
    background: linear-gradient(145deg,#111827,#1e1b4b);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    box-shadow: 0 0 20px rgba(124,58,237,0.5);
}

.card:hover{
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 35px rgba(168,85,247,0.9);
}

.card h3{
    font-size: 24px;
    text-align: center;
}

/* EXPERIENCE SECTION */

.experience{
    background:transparent;
    color:white;
    padding:100px 10%;
}

.exp-small{
    color:#8b8b8b;
    letter-spacing:2px;
    margin-bottom:10px;
}

.exp-title{
    font-size:60px;
    margin-bottom:80px;
}

.timeline{
    position:relative;
    max-width:1000px;
    margin:auto;
}

.timeline::after{
    content:'';
    position:absolute;
    width:4px;
    background:#7c3aed;
    top:0;
    bottom:0;
    left:50%;
    margin-left:-2px;
    box-shadow:0 0 20px #7c3aed;
}

.timeline-item{
    padding:20px 40px;
    position:relative;
    width:50%;
}

.timeline-item::after{
    content:'';
    position:absolute;
    width:22px;
    height:22px;
    right:-11px;
    background:#00f7ff;
    border:4px solid #050816;
    top:30px;
    border-radius:50%;
    z-index:1;
    box-shadow:0 0 20px #00f7ff;
}

.left{
    left:0;
}

.right{
    left:50%;
}

.right::after{
    left:-11px;
}

.content{
    padding:30px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:20px;
    backdrop-filter:blur(10px);
    transition:0.4s;
    box-shadow:0 0 20px rgba(124,58,237,0.3);
}

.content:hover{
    transform:translateY(-10px);
    box-shadow:0 0 30px rgba(0,247,255,0.6);
}

.content h3{
    font-size:28px;
    margin-bottom:15px;
    color:#00f7ff;
}

.content p{
    color:#d1d5db;
    line-height:1.7;
}

@media(max-width:768px){

.timeline::after{
    left:20px;
}

.timeline-item{
    width:100%;
    padding-left:60px;
    padding-right:20px;
}

.right{
    left:0;
}

.timeline-item::after{
    left:10px;
}
}

body{
  margin:0;
    padding:0;
    overflow-x:hidden;
    background:black;
    color:white;
}

/* REAL UNIVERSE */

#space{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    z-index:-1;

    background:
    url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?q=80&w=1920&auto=format&fit=crop")
    center/cover no-repeat fixed;

    animation: zoomSpace 30s ease-in-out infinite alternate;
}

/* DARK OVERLAY */

#space::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;

    background:rgba(0,0,20,0.55);
}

/* SLOW SPACE MOTION */

@keyframes zoomSpace{

    0%{
        transform:scale(1);
    }

    100%{
        transform:scale(1.08);
    }
}

.service-card,
.timeline-content{

    background: rgba(255,255,255,0.04);

    backdrop-filter: blur(12px);

    border: 1px solid rgba(0,255,255,0.2);

    box-shadow:
    0 0 20px rgba(0,255,255,0.15);

    transition:0.4s;
}

/* HOVER EFFECT */

.service-card:hover,
.timeline-content:hover{

    transform: translateY(-10px);

    box-shadow:
    0 0 30px rgba(0,255,255,0.5);
}

 
